body{
    text-align: center;
    background-color: rgb(112, 76, 145);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
section{
    text-align: center;
    background-color: rgb(190, 175, 218);
    border-radius: 5%;
    border: 5px solid rgb(136, 113, 179);
    padding-top: 50px;
    margin-left: 300px;
    margin-right: 400px;
    padding-bottom: 50px;

    color:rgb(0, 0, 0);
    font-style: oblique;
    font-size: larger;
}
input{
    margin-bottom: 30px;
}